$background: #fff;

html, body {
  height: 100%;
}

body {
  background: $background;
}

/* feature about:start */
.about {
  background: #5e5e5e;
  color: white;
  padding: 20px;
}
/* feature about:end */
